@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

.table-border {
    box-shadow: 1px 1px 3px 3px rgba(0, 0, 0, 0.1);
  }

  .toast-top {
   z-index: 999;
  }

  .rdt_TableRow:nth-child(odd) {
    background-color: rgb(224, 224, 224); /* Or any color you prefer */
  }

  .swal2-popup.swal2-toast {
    padding: .5em 1em !important;
    display: flex !important;
    width: auto !important;
}
.swal2-popup.swal2-toast .swal2-title {
    margin: .75em .25em !important;
}